body {
  background: #0a0f1f;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.container {
  text-align: center;
  width: 600px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

input {
  width: 400px;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 12px 20px;
  margin-top: 10px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

pre {
  margin-top: 30px;
  text-align: left;
  background: #111827;
  padding: 20px;
  border-radius: 8px;
}
